<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HarmansList | Create A Listing
        style
            include style.css
    body

    h1 Create a listing!
    // variables

    - var username = username;

    form(method="POST" action="/user/" + username + "/createlisting" enctype="multipart/form-data")
        input(type="text" name="title" placeholder="title")
        br
        input(type="text" name="message" placeholder="message")
        br 
        input(type="file" name="photo" accept="image/x-png")
        br
        input(type="submit" value="Submit Listing")
       
    