footer {
    position: relative;
    top: 200px;
    color: white;
    width: 93.5%;
    height: 100px;
    background-color: #110D0D;
    text-align: center;
    margin: auto;
}

.footer-text {
    position: relative;
    top: 35px;
}